<div class="product-tittle">
    <h1>PRODUCTS:</h1>
</div>

<div *ngIf="products.length > 0" class="product-list">
    <h1>PRODUCTS LIST</h1>
        
        <ul>
            <div class="product-container">
            <li *ngFor="let product of products">
                <div class="product-card">
                                    <img [src]="product.images[0]" alt="{{ product.title }}" width="100" height="100">
                    <div class="product-info">
                    <h3>{{ product.title }}</h3>
                    <!-- <p>{{ product.description }}</p> -->
                    <span class="product-price">$ {{ product.price }}</span>
                  </div>
                </div>
            </li>
         </div>
        </ul>
   
</div>     
