
.product-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #8eeeff;
  }

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d0f2f3;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .product-card {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }
  
  .product-info h2 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .product-info p {
    font-size: 1em;
    color: #555555;
  }